body {
  background-color: #75714e83;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #000000;
}

header {
  background-color: #0098f7;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  color: #001427;
  font-size: 36px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #569fff98;
  padding: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #333;
  text-decoration: none;
  font-size: 18px;
}

nav a:hover {
  color: #ff0080;
}

main {
  padding: 20px;
}

main h2 {
  font-size: 24px;
  margin: 20px 0;
}

main p {
  line-height: 1.5;
  margin: 20px 0;
}

aside {
  background-color: #3498DB;
  color: #fff;
  padding: 20px;
  text-align: center;
}

aside h3 {
  margin: 0;
  font-size: 18px;
}

footer {
  background-color: #E5E5E5;
  padding: 20px;
  text-align: center;
  color: #807808;
}

footer p {
  margin: 0;
  font-size: 14px;
}
